body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    border: 0;
    padding: 0;
    background-image: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container {
    width: 800px;
    height: 400px;
    border-radius: 15px;
    background-color: white;
    background-image: url(./images/bg-pattern-desktop.svg);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.woman {
    position: relative; left: 0px; top:70px;
    object-fit: cover;
    object-position: -55px;   
}
.box {
    position: relative; left: -185px; top: -110px;
}
.texttotal {
    height: 300px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.FAQ {
    text-align: left;
    font-size: 30px;
    font-family: 'Libre Franklin', sans-serif;
}
.question1 {
    text-align: left;
}
.information1 {
    border-bottom-color: hsl(240, 5%, 91%);
    font-size: 15px;
    font-family: 'Libre Franklin', sans-serif; 
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 400px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.hiddeninformation1 {
    display: none;
    font-size: 12px;
    border-left: 50px;
    color: hsl(237, 12%, 33%);
    font-family: 'Libre Franklin', sans-serif;
}
.question2 {
    text-align: left;
}
.information2 {
    border-bottom-color: hsl(240, 5%, 91%);
    font-size: 15px; 
    font-family: 'Libre Franklin', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 400px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.hiddeninformation2 {
    display: none;
    text-align: left;
    color: hsl(237, 12%, 33%);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}
.information3 {
    border-bottom-color: hsl(240, 5%, 91%);
    font-size: 15px; 
    font-family: 'Libre Franklin', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 400px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.hiddeninformation3 {
    display: none;
    text-align: left;
    color:hsl(237, 12%, 33%);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}
.information4 {
    border-bottom-color: hsl(240, 5%, 91%);
    font-size: 15px; 
    font-family: 'Libre Franklin', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 400px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.hiddeninformation4 {
    display: none;
    text-align: left;
    color: hsl(237, 12%, 33%);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}
.information5 {
    border-bottom-color: hsl(240, 5%, 91%);
    font-size: 15px; 
    font-family: 'Libre Franklin', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    width: 400px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.hiddeninformation5 {
    display: none;
    text-align: left;
    color:hsl(237, 12%, 33%);
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12px;
}
footer {
    font-size: 11px; text-align: center; 
    color: hsl(228, 45%, 44%); 
}